.board {
    display: grid;
    /* height: 500px;
    width: 500px; */
    background-color: #55555548;
    gap: 5px;
    padding: 5px;
}

.board div {
    border: solid white 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    height: 30px;
    width: 30px;
}